<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="HyperCGAN: Adversarial Text to Continuous Image Generation">
  <meta name="keywords" content="hypercgan">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PYVRSFMDRL');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="../assets/static/css/bulma.min.css">
  <link rel="stylesheet" href="../assets/static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="../assets/static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="../assets/static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="../assets/static/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="../assets/static/js/fontawesome.all.min.js"></script>
  <script src="../assets/static/js/bulma-carousel.min.js"></script>
  <script src="../assets/static/js/bulma-slider.min.js"></script>
  <script src="../assets/static/js/index.js"></script>
</head>
<body>
<!--
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="https://keunhong.com">
      <span class="icon">
          <i class="fas fa-home"></i>
      </span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More Research
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="https://hypernerf.github.io">
            HyperNeRF
          </a>
          <a class="navbar-item" href="https://nerfies.github.io">
            Nerfies
          </a>
          <a class="navbar-item" href="https://latentfusion.github.io">
            LatentFusion
          </a>
          <a class="navbar-item" href="https://photoshape.github.io">
            PhotoShape
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
 -->

<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">{{page.title}}</h1>
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a href="#">Kilichbek Haydarov</a>,</span>
            <span class="author-block">
              <a href="#">Aashiq Muhamed</a>,</span>
            <span class="author-block">
              <a href="#">Xiaoqian Shen</a>,
            </span>
            <span class="author-block">
              <a href="#">Jovana Lazarevic</a>,
            </span>
            <span class="author-block">
              <a href="#">Ivan Skorokhodov</a>,
            </span>
            <span class="author-block">
              <a href="#">Chamuditha Jayanga Galappaththige</a>,
            </span>
            <span class="author-block">
              <a href="#">Mohamed Elhoseiny</a>
            </span>
          </div>

          <div class="is-size-5 publication-authors">
            <span class="author-block">King Abdullah University of Science and Technology</span>
          </div>

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
              <span class="link-block">
                <a href="https://openaccess.thecvf.com/content/CVPR2024/papers/Haydarov_Adversarial_Text_to_Continuous_Image_Generation_CVPR_2024_paper.pdf"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              <!-- PDF 
              <span class="link-block">
                <a href="#"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>arXiv</span>
                </a>
              </span>
              PDF Link. -->
              <!-- Video Link. 
              <span class="link-block">
                <a href="#"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span>
              -->
              <!-- Code Link. -->
              <span class="link-block">
                <a href="#"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code (coming soon)</span>
                  </a>
              </span>
             
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <img src="../assets/static/images/hypercgan/teaser.png"
           alt="HyperCGAN teaser image."
           class="teaser-image"/>
        
      <p class=" has-text-centered">
        The red rectangles indicate the resolution boundaries that our HyperCGAN model was trained. By design, our model can synthesize meaningful pixels at surrounding (x,y) coordinates beyond these boundaries without any explicit training. 
      </p>
    </div>
  </div>
</section>



<section class="section">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Abstract</h2>
        <div class="content has-text-justified">
          {{page.content}}
          </p>
        </div>
      </div>
    </div>
    <!--/ Abstract. -->

    <!-- Paper video.
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Video</h2>
        
        <div class="publication-video">
          <iframe src="https://www.youtube.com/embed/MrKrnHhk8IA?rel=0&amp;showinfo=0"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
     -->
  </div>
</section>

<section class="hero">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <h1>Architecture</h1>
      <img src="../assets/static/images/hypercgan/architecture_2.png"
           alt="HyperCGAN architecture image."
           class="teaser-image"/>
        
      <p class="has-text-centered">
        <strong>The architecture of the proposed HyperCGAN:</strong> Linear layers are used as hypernetworks. Overall, given text embeddings and
        noise vector, hypernetworks generate parameters for modulating weights of INR-based decoder.
      </p>
    </div>
  </div>
</section>


<section class="hero">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <h1>Qualitative Results</h1>
      <img src="../assets/static/images/hypercgan/sota_qual.png"
           alt="Qualitative Results"
           class="teaser-image"/>
        
      <p class="has-text-centered">
        Qualitative results on three datasets: MS-COCO 256<sup>2</sup>, CUB 256<sup>2</sup>, and ArtEmis 256<sup>2</sup>.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <h1>Sensitivity to Words</h1>
      <img src="../assets/static/images/hypercgan/color.png"
           alt="Qualitative Results"
           class="teaser-image"/>
        
      <p class="has-text-centered">
        Here, the input noise z is kept fixed while varying color names in the prompt ”a small {color}, 
        bird with white and dark gray wingbars and white breast and long tail”, aiming to assess the model’s sensitivity to word-level modulation.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <h1>Continous Properties</h1>
      <img src="../assets/static/images/hypercgan/continous_qual.png"
           alt="Qualitative Results"
           class="teaser-image"/>
        
      <p class="has-text-centered">
        the capability of our models in terms of continuous image synthesis: extrapolation and superresolution.
      </p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <h1>Attention Maps</h1>
      <img src="../assets/static/images/hypercgan/attn_map.png"
           alt="Qualitative Results"
           class="teaser-image"/>
        
      <p class="has-text-centered">
        Attention maps per modulating word-based weights.
      </p>
    </div>
  </div>
</section>


<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>

    <pre><code>@InProceedings{Haydarov_2024_CVPR,
    author    = {Haydarov, Kilichbek and Muhamed, Aashiq and Shen, Xiaoqian and Lazarevic, Jovana and Skorokhodov, Ivan and Galappaththige, Chamuditha Jayanga and Elhoseiny, Mohamed},
    title     = {Adversarial Text to Continuous Image Generation},
    booktitle = {Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)},
    month     = {June},
    year      = {2024},
    pages     = {6316-6326}
}</code></pre>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This website is licensed under a <a rel="license"
                                                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
          <p>
            The source code of the website is borrowed from <a href="https://github.com/nerfies/nerfies.github.io">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>